#noise-svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.05;
    pointer-events: none;
}
#noise-svg #noise-rect {
    width: 100vw;
    height: 100vh;
}
