body {
    --hue: 220deg;
    --width: 23rem;
    --accent-hue: 22deg;
    --duration: 0.6s;
    --easing: cubic-bezier(1, 0, 1, 1);
}

.button {
    position: absolute;
    z-index: 1;
    width: 50%;
    height: 70%;
    left: 5%;
    border-radius: 100px;
    background-image: linear-gradient(
        160deg,
        hsl(var(--hue) 20% 95%) 40%,
        hsl(var(--hue) 20% 65%) 70%
    );
    transition: all var(--duration) var(--easing);
    box-shadow: 2px 2px 3px hsl(var(--hue) 18% 50% / 80%), 2px 2px 6px hsl(var(--hue) 18% 50% / 40%),
        10px 20px 10px hsl(var(--hue) 18% 50% / 40%), 20px 30px 30px hsl(var(--hue) 18% 50% / 60%);
}

.button::before,
.button::after {
    content: "";
    position: absolute;
    top: 10%;
    width: 41%;
    height: 80%;
    border-radius: 100%;
}

.button::before {
    left: 5%;
    box-shadow: inset 1px 1px 2px hsl(var(--hue) 20% 85%);
    background-image: linear-gradient(
        -50deg,
        hsl(var(--hue) 20% 95%) 20%,
        hsl(var(--hue) 20% 85%) 80%
    );
}

.button::after {
    right: 5%;
    box-shadow: inset 1px 1px 3px hsl(var(--hue) 20% 70%);
    background-image: linear-gradient(
        -50deg,
        hsl(var(--hue) 20% 95%) 20%,
        hsl(var(--hue) 20% 75%) 80%
    );
}
